# /etc/systemd/user/sync-users.service

[Unit]
Description=Fetch slack users and update database
Wants=sync-users.timer

[Service]
ExecStart=/home/pizzabot/vipps.pizza/venv/bin/python3 /home/pizzabot/vipps.pizza/goodmorning.py
Environment=DB_PASSWD="%&87tf68esft6843woyv7o8f3yr4oge"
Environment=SLACK_API_TOKEN="xoxb-206706851110-830810882245-ecnGg0kytE7h81U0HOlzedNm"

[Install]
WantedBy=multi-user.target
